<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>

<h1>Edit Cocktail Index</h1>
<div class="content">
    <div class="photo">
        <img src="<%=recipe.photo %>">
    </div>
    <div class="description">

            <div class='recipe-update'>
                <form action="/recipes/<%=recipe._id%>?_method=PUT" method='POST'>
                    
                        <p>Drink Name: <input type="text" name='drinkName' value='<%=recipe.drinkName%>'> </p>
                    
                    
                        <p>Photo: <input type="text" placeholder="photo" name="photo" value='<%=recipe.photo %>'></p>
                    

                        <p>Ingredients: <textarea name="ingredients" cols="30" rows="10"><%=recipe.ingredients %></textarea>
                        <div class='description-bottom'>

                            <button type="submit" class='delete-button'>Update</button></p>
                        </div>
                </form>
            </div>   
    </div>
</div>

    
</body>
</html>