<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>

<h1>Cocktail Index</h1>
<div class="content">
    <div class="photo">
        <img src="<%= recipe.photo %>">
    </div>
    <div class="description">
        <ul>
            <li>By: <%= bartender.username %> </li>
            <li>Drink Name: <%= recipe.drinkName %></li>
            <li>Ingredients: <%= recipe.ingredients %></li>
        </ul>
    </div>
   
    <% if(isLogged) { %>
        <div class='edit-link'>
                <a href="/recipes/<%=recipe._id%>/edit">Edit Recipe</a>
        </div>
        <div>
            <form action="/recipes/<%=recipe._id%>?_method=DELETE" method='POST'>
                <button type='submit'>Delete</button>
            </form>
        </div>
    <% } %>
</div>

    
</body>
</html>