<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>

<h1>Cocktail Index</h1>
<div class="content">
    <div class="photo">
        <img src="<%=recipe.photo %>">
    </div>
    <div class="description">
        <li> Drink Name: <%= recipe.drinkName %></li>
        <li>Ingredients: <%= recipe.ingredients %></li>
    </div>
</div>
    
</body>
</html>