<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>

<h1>Cocktail Index</h1>
<div class="content">
    <div class="photo">
        <img src="<%= recipe.photo %>">
    </div>
    <div class="description">
        <div class="description-top">
                <h1>By: <%= bartender.username %></h1>
        </div>
        <div class="description-mid">
            <ul>
                <li>Drink Name: <%= recipe.drinkName %></li>
                <li>Ingredients: <%= recipe.ingredients %></li>
            </ul>
        </div>
        <div class="description-bottom">
                <% if(isLogged) { %>
                    <div class='edit-link'>
                            <a href="/recipes/<%=recipe._id%>/edit">Edit Recipe</a>
                    </div>
                    <div>
                        <form action="/recipes/<%=recipe._id%>?_method=DELETE" method='POST'>
                            <button type='submit' class="delete-button">Delete</button>
                        </form>
                    </div>
                <% } %>
            
        </div>
    </div>
   
   
</div>

    
</body>
</html>