<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>
<body>
    <h1>Edit Profile</h1>
        <div class = 'content'> 
                <div class="photo">
                    <img src="<%= bartender.photoURL %>" > 
                    
                </div>
                <div class= 'description'>
                    <div class= "description-top">
                            <h1>Username: <input type="text" name= 'username' value='<%= bartender.username %>'></h1>
                    </div>
                    <div class="description-mid">
                        
                        cocktail index:
                            <form action="/bartenders/<%= bartender._id %>?_method=PUT" method="POST">
                            <button class='update-button' type="submit">Update Profile</button>
                            </form>
                    </div>
                

                </div>
                    
                
        </div>
                    
</body>
</html>