<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>
<body>
    <h1>Meet the Bartender</h1>
        <div class = 'content'> 
            <div class="photo">
                <img src="<%= bartender.photoURL %>" >            
            </div>
            <div class= 'description'>
                <div class="description-top">
                    <h1>username: <%= bartender.username %></h1>
                </div>
                <div class="description-mid">
                    <ul>
                        <li>cocktail index:
                            <% for(let i=0; i < recipes.recipes.length; i++){ %>
                                <ul>
                                    <li>
                                        <a href="/recipes/<%= bartender.recipes[i]%>"><%=recipes.recipes[i].drinkName%></a>            
                                    </li>
                                </ul>
                            <% } %>
                        </li> 
                    </ul>
                </div>
                <div class="description-bottom">
                    <%if(isLogged === bartenderId) {%>
                        <div class='edit-link'>
                            <a href="/bartenders/<%= bartender._id %>/edit">Edit Profile</a>
                        </div>
                        <div class="create">
                            <a href="/recipes/new">Create Recipe</a>
                        </div>
                    <% } %>
                    <div class="delete">
                            <form action="/bartenders/<%= bartender._id%>?_method=DELETE" method= "POST">
                                <button class='delete-button' type= 'Submit'>DELETE</button>
                            </form>

                        </div>
                </div>
            </div>
        </div>               
</body>
</html>